header {
		color: #cc0000;
		font-family: Elephant;
		font-size: 30pt;
		}
		
body	{
		background-color: #d3d3d3;	
		font-size: 15pt;
		}
		
a {
	color: ##e6f517;	
	text-decoration: none;
	}
	
footer {
		font-size: 10pt;
		font-style: italic;	
		}