header {
    text-align: center;
    margin-top: 20px;
}

header h1 {
    color: #cc0000;
    font-family: Elephant, serif;
    font-size: 30pt;
    margin: 0;
}
		
body	{
		background-color: #d3d3d3;	
		font-size: 15pt;
		}
		
a {
	color: #0068cf;
	text-decoration: none;
	}

a:hover {
	text-decoration: underline;
	}
	
footer {
		font-size: 10pt;
		font-style: italic;	
		}